@model FormQuestion;

<asp:Content runat="server" ContentPlaceHolderID="stylesheet">
  <style>

        * {
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }

        .continer {
            margin-top: 20px;
        }

        .continerchild {
            background-color: rgb(0, 255, 68);
            width: 85%;
            background-color: rgb(46, 8, 82);
            border-radius: 10px;
        }

        .QuestionDiv {
            height: 250px;
            outline: none;
            border: 1px solid rgb(127, 127, 127);
            border-radius: 10px;
        }

            .QuestionDiv .inputQ:focus {
                border: 1px solid rgb(141, 21, 162);
            }

        .AnswerDiv {
            height: 250px;
        }

        .continerchildLast {
            width: 90%;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .form-check {
            display: flex;
            width: 220px;
            justify-content: center;
            height: 200px;
            border-radius: 10px;
            padding: 0;
            align-items: center;
        }

        .inputQ {
            border: none;
            outline: none;
            background-color: inherit;
            text-align: center;
            padding-top: 70px; /* Adjust based on font size */
            padding-bottom: 5px; /* Adjust based on font size */
            resize: none;
            color: white;
            font-weight: bold;
        }

            .inputQ:focus {
                background-color: rgba(0, 0, 0, 0.2); /* Adjust the opacity as needed */
                border-radius: 10px;
            }

        .form-check-child {
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }

        .qst::placeholder {
            font-size: 24px;
            font-weight: 500; /* Adjust the font size as needed */
        }

        .headerApp {
            display: flex;
            height: 60px;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }

        .form-select {
            height: 35px;
            width: 140px;
            background-color: rgb(234, 234, 234);
            border: none;
            outline: none;
        }

        .divMark, .divTime {
            height: 35px;
            width: 140px;
            background-color: rgb(234, 234, 234);
            border: 1px rgb(195, 195, 195) solid;
            align-items: center;
            border-radius: 5px;
            outline: none;
        }

        .headerApp div {
            display: flex;
            justify-content: space-around;
            width: 40%;
        }

        .roteur {
            height: 35px;
            width: 60px;
            font-size: 20px;
            background-color: rgb(234, 234, 234);
            outline: none;
            border: none;
            color: black;
        }

            .roteur:hover {
                background-color: gray;
            }

            .roteur span {
                font-size: larger;
            }

        .headerApp .div1 {
            width: 20%;
        }

        .eng {
            width: 200px;
            height: 35px;
            background-color: rgb(116, 40, 188);
            outline: none;
        }

            .eng:hover {
                background-color: rgb(101, 33, 165);
            }

        .choix {
            width: 150px;
        }

        .clock {
            align-items: center;
            position: relative;
            top: 5px;
            left: 5px;
            font-size: 20px;
        }

        .form-check-input:checked {
            background-color: green;
            width: 20px;
            height: 20px;
            outline: none;
            border: none;
            box-shadow: none;
            border-radius: 50%;
        }


        .form-check-input {
            width: 20px;
            height: 20px;
            outline: none;
            border: none;
            box-shadow: none;
            border-radius: 50%;
        }

        .divNextAndPre {
            width: 100%;
            display: flex;
            height: 100px;
            justify-content: space-between;
        }

            .divNextAndPre div button {
                width: 200px;
                height: 50px;
                border-radius: 5px;
                outline: none;
                border: 1px solid rgb(26, 26, 26);
                opacity: 0.5;
                font-weight: bold;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                background-color: rgb(26, 24, 24);
                color: aliceblue;
            }

                .divNextAndPre div button:hover {
                    background-color: rgb(72, 72, 72);
                    opacity: 1;
                }
  </style>
</asp:Content>
<div class="headerApp">

    <div class="div1">
        <button type="button" class="btn btn-secondary roteur"><i class="fa-solid fa-arrow-left"></i></button>
        <div class="divMark" style="width: 170px;"> Number Pass : 20</div>

    </div>
    <div>
        <div class="divMark"> Mark : @Model.Mark </div>


        <div class="divMark"> Time :@Model.Duration  Secondes</div>
    </div>
    <div class="divMark" style="width: 170px; margin-right:5px"> Number reste : 20</div>
</div>
<div class="continer d-flex justify-content-around">
    <div class="continerchild continer d-flex justify-content-around">
        <div class="continerchildLast">
            <div class="QuestionDiv">

                <p class="w-100 h-100 inputQ  qst">@Model.ContentOfQuestion</p>
            </div>

            <div class="AnswerDiv d-flex justify-content-around align-items-center">

                <div class="form-check" style="background-color: Gold;">
                    <input onchange="selectAnswer(this)" class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" style="display: none;">
                    <div class="form-check-child">
                        <label for="flexCheckChecked1" class="w-100 h-100 inputQ  rep">  @Model.AnswerList[0] </label>
                    </div>

                </div>
                <div class="form-check" style="background-color: LavenderBlush;">
                    <input onchange="selectAnswer(this)" class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" style="display: none;">
                    <div class="form-check-child">
                        <label for="flexCheckChecked2" class="w-100 h-100 inputQ  rep">   @Model.AnswerList[1] </label>

                    </div>

                </div>
                <div class="form-check" style="background-color: LightSeaGreen;">
                    <input onchange="selectAnswer(this)" class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" style="display: none;">
                    <div class="form-check-child ">
                        <label for="flexCheckChecked3" class="w-100 h-100 inputQ  rep">   @Model.AnswerList[2] </label>

                    </div>

                </div>
                <div class="form-check" style="background-color:PaleTurquoise;">
                    <input onchange="selectAnswer(this)" class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" style="display: none;">
                    <div class="form-check-child">
                        <label for="flexCheckChecked4" class="w-100 h-100 inputQ  rep">  @Model.AnswerList[3] </label>

                    </div>

                </div>

                <div>
                </div>

            </div>
            <div class="divNextAndPre"> <div><button>Back</button></div><div><button>Envoyer</button></div></div>


        </div>


    </div>
    <script>
        function selectAnswer(childElement) {
            var parent = childElement.parentNode;

            if (childElement.checked) {

                parent.style.border = "2px green solid";
                childElement.style.display = "block";
                childElement.style.marginRight = "10px";

            }
            else {
                childElement.style.display = "none";
                parent.style.border = "none";
                parent.style.opacity = "1";
            }


        }
        var textarea = document.getElementById('multiline-input');


        textarea.addEventListener('input', function () {

            var text = this.value.replace(/\n/g, '<br>');
            // Update the textarea's content
            this.innerHTML = text;
        });
    </script>
